<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">  <!-- Reference your CSS file here -->
    <script src="{{ url_for('static', filename='mywebscript.js') }}"></script>
    <title>NLP - Emotion Detection</title>
</head>
<body>
    <div class="card">
        <div class="card-body">
            <h1 class="center-heading">NLP - Emotion Detection</h1> 
            <div class="form-group">
                <h2 class="mb-4">
                    <label for="textToAnalyze" class="form-label">Please, enter the text to be analyzed</label>
                    <textarea class="form-control" id="textToAnalyze" rows="4"></textarea>
                </h2>
                <div class="text-center">
                    <button onclick="RunSentimentAnalysis()" class="btn btn-secondary">Run Sentiment Analysis</button>
                </div>
            </div>
            <div class="form-group">
                <h2 class="mb-3">
                    <label class="form-label">Result of Emotion Detection</label>
                </h2>
                <div id="system_response"></div>
            </div>
        </div>
    </div>
</body>
</html>
